:root {
    --banner_green: rgb(98, 201, 180);
    --banner_pink: rgb(253, 95, 94);
    --hanbaiyu: rgb(248, 244, 237);
    --molihuang: rgb(248, 223, 114);
    --yalihuang: rgb(251, 200, 47);
  }
  
html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--hanbaiyu);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #666666;
    text-align: left;
}

section {
  scroll-margin-top: 2em;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--hanbaiyu);
}

.se-pre-con .loader_image {
  width: 100px;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.se-pre-con img {
  width: 100px;
  transform-origin: bottom center;
  animation: 3s rotate infinite;
  opacity: 0;
}

.se-pre-con .loader_image p {
  margin-top: 20px;
  text-align: center;
}

@keyframes rotate{
  0% {
    transform: rotate(90deg);
  }
  10% {
    opacity: 0;
  }
  35% {
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    transform: rotate(0deg);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: rotate(-90deg);
  }
}

.back_area {
  background-color: rgb(251, 242, 227);
}

.navbar {
  background-color: var(--hanbaiyu);
	-webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
  padding: 12px 10px;
  transition: 0.4s;
}

.navbar .navbar-nav .nav-link {
  color: var(--banner_pink);
  opacity: 70%;
  padding-top: 14px;
  padding-bottom: 13px;
}

.navbar .navbar-nav .nav-item a:hover {
  background-image: url('assets/menu-cloud1.png'), url('assets/menu-cloud2.png');
  background-position: left top, right bottom;
  background-size: 30px, 30px;
  background-repeat: no-repeat, no-repeat;
  color: var(--banner_pink);
  opacity: 100%;
}

.navbar .navbar-nav .nav-item .active {
  font-weight: bold;
  color: var(--banner_pink);
  opacity: 100%;
}

.navbar .navbar-nav .fa-star {
  font-size: 15px;
}

.fa-bars {
  color: var(--banner_pink);
  font-size: 120%;
}

.jiashuzhang {
  font-family: 'Big Shoulders Stencil Text';
  font-size: calc(100% + 6vw + 6vh);
  color: var(--molihuang);
}

.my_work {
  color:var(--banner_pink); 
  font-family: 'Big Shoulders Stencil Text';
  letter-spacing: 1px;
  font-size: 50px;
  text-shadow: 1px 1px rgb(196, 196, 196);
}

.my_feature {
  color:var(--banner_green); 
  font-family: 'Big Shoulders Stencil Text';
  letter-spacing: 1px;
  font-size: 50px;
  text-shadow: 1px 1px rgb(114, 114, 114);
}


#back_to_top {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--banner_pink);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}